#officeEmployee-toolbar {
  padding-left: 16px;
  padding-right: 8px;
}

#officeEmployee-toolbar.selected {
  background-color: rgba(25, 118, 210, 0.12);
}

.officeEmployee-subtitle {
  flex: 1 1 100%;
  color: white;
}

.officeEmployee-table-container {
  width: 98.6%;
  margin-left: 0.7%;
  margin-top: 30px;
  box-shadow: 0 0 20px 10px rgba(9, 159, 255, 0.5);
  border-radius: 5px;
}

.officeEmployee-paper {
  width: 100%;
  margin-bottom: 1.5%;
  background-color: rgb(37, 40, 45);
  border-radius: 5px;
}

.officeEmployee-table-row {
  cursor: pointer;
}

#officeEmployee-table-sort-label {
  margin-left: 25px;
}

#officeEmployee-last-report {
  white-space: nowrap;
  max-width: 1vw;
}
