#modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: white;
  border: 1px solid rgba(9, 159, 255, 0.5);
  border-radius: 8px;
  box-shadow: 0 0 10px 1px white;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#modal-title {
  color: rgb(37, 40, 45);
  margin-bottom: 24px;
}

#submit-button {
  margin-top: 16px;
  border: 1px solid rgba(9, 159, 255, 0.5);
  color: rgb(37, 40, 45);
  background-color: white;
}

#modal-button {
  width: 130px;
  border: 1px solid rgba(9, 159, 255, 0.5);
  color: rgb(37, 40, 45);
  background-color: white;
}

#modal-button:hover,
#submit-button:hover {
  background-color: rgb(37, 40, 45);
  color: white;
}

#modal-button::before,
#submit-button::before {
  content: "";
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: 1px;
  right: 1px;
  border: 2px solid rgba(9, 159, 255, 0.5);
  opacity: 0;
  transition: opacity 0.3s;
}

#modal-button:hover::before,
#submit-button:hover::before {
  opacity: 1;
}
