:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 37, 40, 45;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

html,
body {
  width: 100vw;
  margin: 0;
  padding: 0;
}

.scrollable {
  overflow: auto !important;
  margin-top: 64px !important;
}

.no-scroll {
  overflow: hidden !important;
  margin-top: 97px !important;
}

/* this gets rid of the line to the right of first header table cell
but it causes border top and bottom of head cell to disappear on scroll */
/* .MuiTable-root {
  border-collapse: collapse !important;
} */

/* Hide increment arrows in WebKit browsers (e.g., Chrome, Safari) */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide increment arrows in Firefox */
input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

@media (max-height: 950px) {
  .no-scroll {
    margin-top: 90px !important;
  }
}

@media (max-height: 885px) {
  .no-scroll {
    margin-top: 85px !important;
  }
}

@media (max-height: 855px) {
  .no-scroll {
    margin-top: 84px !important;
  }
}

@media (max-height: 838px) {
  .no-scroll {
    margin-top: 83px !important;
  }
}

@media (max-height: 825px) {
  .no-scroll {
    margin-top: 82px !important;
  }
}

@media (max-height: 805px) {
  .no-scroll {
    margin-top: 81px !important;
  }
}

@media (max-height: 785px) {
  .no-scroll {
    margin-top: 80px !important;
  }
}

@media (max-height: 765px) {
  .no-scroll {
    margin-top: 79px !important;
  }
}

@media (max-height: 745px) {
  .no-scroll {
    margin-top: 78px !important;
  }
}

@media (max-height: 725px) {
  .no-scroll {
    margin-top: 75px !important;
  }
}
