:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 37, 40, 45;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

html,
body {
  overflow: hidden !important;
  width: 100vw;
  margin: 0;
  padding: 0;
}

/* this gets rid of the line to the right of first header table cell
but it causes border top and bottom of head cell to disappear on scroll */
/* .MuiTable-root {
  border-collapse: collapse !important;
} */

/* Hide increment arrows in WebKit browsers (e.g., Chrome, Safari) */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide increment arrows in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
