#appbar {
  background-color: white;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

#nav-toolbar {
  justify-content: space-between;
}

.centered-button-container {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

#drivers-button,
#trucks-button {
  border: 1px solid rgba(9, 159, 255, 0.5);
  color: black;
  min-width: 83.4px;
  margin-right: 10px;
}

#user-info-container {
  display: flex;
  align-items: center;
}

#first-last-name {
  color: black;
  margin-right: 16px;
}

#logout-button {
  border: 1px solid rgba(9, 159, 255, 0.5);
  color: black;
}

#logout-button:hover,
#drivers-button:hover,
#trucks-button:hover {
  background-color: rgb(37, 40, 45);
  color: white;
}

#logout-button::before,
#drivers-button::before,
#trucks-button::before {
  content: "";
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: 1px;
  right: 1px;
  border: 2px solid rgba(9, 159, 255, 0.5);
  opacity: 0;
  transition: opacity 0.3s;
}

#logout-button:hover::before,
#drivers-button:hover::before,
#trucks-button:hover::before {
  opacity: 1;
}
